<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/AULA2</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">123</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        
        <mapping class="model.aula.MarcaR"/>
        <mapping class="model.aula.Produto"/>
        <mapping class="model.aula.Segmento"/>       
        <mapping class="model.aula.Especificacao"/>
        <mapping class="model.aula.EspecificacaoProduto"/>

        
        <mapping class="model.Pessoa"/>
        <mapping class="model.Cidade"/>

        <mapping class="model.Parametro"/>

        <!-- Ordem de Serviço -->
        <mapping class="model.ordem.OrdemTipoServico"/>
        <mapping class="model.ordem.OrdemStatus"/>
        <mapping class="model.ordem.Marca"/>
        <mapping class="model.ordem.Modelo"/>
        <mapping class="model.ordem.Veiculo"/>
        <mapping class="model.ordem.Cor"/>
        <mapping class="model.ordem.Ordem"/>
        <mapping class="model.ordem.OrdemServico"/>
        


        <!-- /Ordem de Serviço -->


        <!-- Fluxo de caixa -->        
        <mapping class="model.fluxo.ContaBancaria"/>
        <mapping class="model.fluxo.ContaCategoria"/>
        <mapping class="model.fluxo.FormaPagamento"/>
        <mapping class="model.fluxo.Parcela"/>
        <mapping class="model.fluxo.Conta"/>        
        <mapping class="model.fluxo.ParcelaPagamento"/>



        <!-- /Fluxo de caixa -->

        <!-- Estoque -->        
        <mapping class="model.estoque.EstoqueMovimentacao"/>
        <!--<mapping class="model.estoque.EstoquePreco"/>-->
        <mapping class="model.estoque.Item"/>
                <mapping class="model.estoque.Estoque"/>

        <mapping class="model.estoque.ItemTipo"/>
        <mapping class="model.estoque.MovimentacaoTipo"/>
        <mapping class="model.estoque.Prateleira"/>
        


        <!-- /Estoque -->

        <mapping class="model.Usuario"/>


    </session-factory>
</hibernate-configuration>
