<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/AULA2</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">123</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <mapping class="model.aula.Marca"/>
        <mapping class="model.aula.Produto"/>
        <mapping class="model.aula.Segmento"/>       
        <mapping class="model.aula.Especificacao"/>
        <mapping class="model.aula.EspecificacaoProduto"/>

        <!-- Fluxo de caixa -->        
        <mapping class="model.fluxo.ContaBancaria"/>
        <mapping class="model.fluxo.ContaCategoria"/>
        <mapping class="model.fluxo.FormaPagamento"/>

        <!-- /Fluxo de caixa -->

        <mapping class="model.Usuario"/>


    </session-factory>
</hibernate-configuration>
